{% extends 'management/base.html' %}
{% block title %} State {% endblock %}
{% block content %}
    <h2>Warehouse in {{ warehouse.region }}</h2>
    <h4>List of stock</h4>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>State</th>
            <th>Target</th>
            <th>Filled in</th>
            <th>Action</th>
        </tr>
        {% for product in stock %}
        <tr>
            <td>{{product.item_id.item_id}}</td>
            <td>{{product.item_id.name}}</td>
            <td>{{product.item_id.get_category_display}}</td>
            <td>{{product.stock_state}}</td>
            <td>{{product.target_state}}</td>
            <td>JS Generated in future%</td>
            <td><a href={% url "update" warehouse.region product.item_id.item_id %}>Update</a></td>
        </tr>      
        {% endfor %}
    </table>
{% endblock %}