{% extends 'management/base.html' %}
{% block title %} State {% endblock %}
{% block content %}
    <h2>Warehouse in Poznań</h2>
    <h4>List of stock</h4>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.item_id}}</td>
            <td>{{item.name}}</td>
            <td><a href="update.html">Update</a></td>
        </tr>        
        {% endfor %}
    </table>
{% endblock %}